.App{
  background-color: #fae6eb;
}

.cake{
  height: 80vmin;
  pointer-events: none;
}

.age{
  font-size: 35vmin;
}
.age-bottom{
  font-size:20vmin;
}
@media only screen and (min-width: 380px) and (min-height: 650px) {
  .hidden-on-custom {
      display: block;
  }
}

